@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Oleo+Script:wght@400;700&display=swap');

.total{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.a-container {
    left: 20px;
    width: 63%;
    height: 72%;
    background: linear-gradient(
            114.41deg,
            rgba(35, 35, 35, 0.2) 0.9999999776482582%,
            rgba(102, 102, 102, 0.2) 100%
    );
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 20px;
}
.buttons-about{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 10px;
    height: 80%;
}
.b, .b-active {
    background-color: transparent;
    width: 250px;
    flex: 1;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 4px;
    border: 3px solid #515151;
    cursor: pointer;
    color: #7e7e7e;
    box-shadow: 0px 7px 31.2px 1px rgba(0, 0, 0, 0.49);
    font-family: "Bigshot One", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}
.b-active{
    border: 3px solid #ffffff;
    color: #ffffff;
}

.b:hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.82),
    0 0 10px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255, 255, 255, 0.82);

    border-color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.82),
    0 0 10px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255, 255, 255, 0.82);
}


.text-container {
    flex: 1;
    border: 4px solid white;
    box-shadow: 0px 4px 4px 8px rgba(0, 0, 0, 0.25);
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
}
.intro-container {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.intro{
    font-family: "Bigshot One", serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 5px;

}
.line-intro{
    height: 1px;
    background-color: white;
    width: 90%;
}
.text {
    width: 90%;
    height: 100%;
    position: relative;
    color: white;
    left: 20px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}

.section-title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
    color: white;
}


.section-content {
    letter-spacing: 0.5px;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.photo-container {
    left: 48px;
    width: 27%;
    height: 72%;
    background: linear-gradient(
            -35.85deg,
            rgba(35, 35, 35, 0.2) 50%,
            rgba(223, 223, 223, 0.2) 100%
    );
    padding: 20px;
}
.photo-container, .a-container{
    top: 26px;
    box-shadow: 0px 17px 21.2px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    margin-bottom: 20px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            0deg,
            rgba(26, 26, 26, 0.98) 32%,
            rgba(70, 70, 70, 0) 68%
    );
    pointer-events: none;
}

.text-overlay {
    position: absolute;
    top: 69%;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row-text {
    display: flex;
    justify-content: space-between;
    font-family: "Bigshot One", serif;
    font-weight: 400;
    align-items: center;
    width: 80%;
}


.pre-text {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    min-width: 120px;
    text-align: left;
    flex: 1;
    letter-spacing: 1px;
}
.specific-text {
    color: #fff;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}


.education-wrapper {
    width: 90%;
    height: 100%;
    position: relative;
    color: white;
    left: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Libre Caslon Display", serif;
    letter-spacing: 1px;
    top: 15px;
}


.education-item {
    margin-bottom: 30px;
    position: relative;
}

.education-title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
    padding: 5px;
}
.education-title span{
    font-size: 14px;
    margin-left: 20px;
    font-style: italic;
}

.education-details {
    margin-bottom: 20px;
}


.education-degree {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: white;
    font-weight: 400;
}

.education-institution {
    font-size: 16px;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.hourglass-container {
    position: absolute;
    right: 0;
    top: -16px;
}


.hourglass-container svg {
    width: 20px;
    height: 20px;
}
.pdf-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: transparent;
    border-radius: 10px;
    font-family: "Libre Caslon Display", serif;
    letter-spacing: 1px;
    overflow-y: scroll;
}


.pdf-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
    padding: 12px 20px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.42);
}

.pdf-item:hover {
    background: rgba(255, 255, 255, 0.16);
}

.open{
    border-radius: 4px;
    padding: 8px 14px;
    border: 3px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 7px 31.2px 1px rgba(0, 0, 0, 0.49);
    font-family: "Bigshot One", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}
.open:hover{
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.82),
    0 0 10px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255, 255, 255, 0.82);

    border-color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.82),
    0 0 10px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255, 255, 255, 0.82);
}





.text::-webkit-scrollbar, .pdf-container::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}


.text::-webkit-scrollbar-track .pdf-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
/* Effetto hover sul thumb */
.text::-webkit-scrollbar-thumb, .pdf-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.9);
}