.left-card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
    color: white;
    font-family: "Bigshot One", serif;
    font-size:26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.card-image {
    width: 100%;
    height: 30%;
    border-radius: 8px;
    object-fit: cover;
}

.left-card p {
    font-size: 24px;
    color: #ddd;
    line-height: 1.4;
    margin-top: 10px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.tech-badge {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: capitalize;
}

.project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 80%;
    font-size: 14px;
}

.btn:hover {
    background-color: #0056b3;
}

.info-container{
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    height: 60%;
}

.video-container {
    padding-bottom: 50px; /* Spazio per il bottone */
}

.video-container::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar in Chrome */
}

.project-video {
    width: 100%;
}

