@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Oleo+Script:wght@400;700&display=swap');

.navbar{
    margin-top: 60px;
}

.line-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.line-left {
    height: 2px;
    background-color: white;
    width: 85%;
}
.line-right{
    height: 2px;
    background-color: white;
    width: 10%;
}

.ag {
    margin: 0 10px;
    color: white;
    font-size: 48px;
    white-space: nowrap;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    line-height: 2px;
}
.ag:hover{
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.navbar-button, .navbar-button-active {
    all: unset;
    background-color: transparent;
    border: none;
    color: #7e7e7e;
    padding: 20px 80px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-button:hover {
    background-color: transparent;
    color: #7e7e7e;
    border: none;
}

.navbar-button-active {
    background-color: transparent;
    border: 2px solid white;
    border-bottom: none;
    color: white;
}

.navbar-button span{
    transition: .3s linear
}

.navbar-button:hover span{
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.82),
    0 0 10px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255, 255, 255, 0.82);
}

